<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href="{% static 'styles.css' %}">
    <title>ABOUT</title>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .aboutbody{
    background-image: url("{% static 'about.jpeg' %}");

}
    </style>
  
  </head>
  <body class="aboutbody">
    
    <nav class="navbar navbar-expand-sm justify-content-center fixed-top">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">HOME</a>
          </li>
        </ul>
        
     </nav>

     <div class = "isiabout">
       <p>Halo, perkenalkan, nama saya Habel. Saya merupakan mahasiswa Fasilkom Universitas Indonesia jurusan Ilmu Komputer angkatan 2018 (Quanta). Saya memiliki beberapa hobi, yaitu bermain musik, menonton film, dan bermain game. <br> <br> Website ini merupakan pengantar saya yang selanjutnya akan saya kembangkan. Dengan website ini, saya berharap kemampuan saya dalam bidang Perancangan dan Pemrograman Website akan semakin terlatih

       </p>
     </div>


      
    

    

      
          
    </body>
</html>
