.homebody {
  background-image: url(home.jpeg);

}

.aboutbody{
    background-image: url(about.jpeg);

}

.expbody{
    background-image: url(experiences.jpeg);
}

.contactbody{
    background-image: url(contact.jpeg);
}
.navbar{
    background-color: black;
}

.navbar .navbar-nav li a{
    color: rgba(175, 113, 113, 1) !important;
}

.rounded-circle{
    width: 20%;
    height: 20%;
    margin: auto;
    display: block;
    margin-top: 130px;
}

.isihome{
    margin-top: 70px;
    text-align: center;
    color: aliceblue;
}

h1{
    text-align: center;
    color: rgba(175, 113, 113, 1);
}



.col-sm-3{
    margin-top: 300px;
    
    
}

.row{
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

.isiabout{
position: absolute;
margin-top: 100px;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 100px;

padding-left: 120px;
padding-right: 120px;
padding-bottom: 120px;
padding-top: 120px;

background: #C4C4C4;
opacity: 0.7;
border: 5px solid #000000;
box-sizing: border-box;

font-family: Abel;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 46px;
text-align: justify;
}



.col-sm-8{
position: absolute;
margin-top: 100px;
margin-left: 250px;
margin-right: 100px;
margin-bottom: 100px;

padding-left: 120px;
padding-right: 120px;
padding-bottom: 120px;
padding-top: 120px;

background: #C4C4C4;
opacity: 0.7;
border: 5px solid #000000;
box-sizing: border-box;

font-family: Abel;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 46px;
text-align: center;

color: #000000;
}

.edubody{
    background-image: url("bebas.jpeg");
}

p{
    font-family: monospace;
    font-size: 25px;
}
